<div class="table-responsive-vertical md-whiteframe-z1" ng-show="products.length != 0">
    <md-button class="md-raised md-primary" ng-click="openToast()">
        Importer vers mon blog
    </md-button>
    <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th ng-repeat="field in fields">{{field.name}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in products">
            <td data-title="{{fields[0].name}}"><img class="image-td" id="{{product.ref}}" ng-src="{{product.img}}"
                                                     alt="{{product.name}}" ng-click="goToProduct(product, $event)">
            </td>
            <td data-title="{{fields[1].name}}">{{product.name}}</td>
            <td data-title="{{fields[2].name}}">{{product.ref}}</td>
            <td data-title="{{fields[3].name}}">{{product.category}}</td>
            <td data-title="{{fields[4].name}}">{{product.brand}}</td>
            <td data-title="{{fields[5].name}}">{{product.price}}</td>
            <td data-title="{{fields[6].name}}">{{product.details}}</td>
            <td>
                <md-button class="md-fab md-accent" aria-label="FAB" ng-click="removeProduct(product, $index)">
                    <md-icon class="material-icons">remove</md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-show="products.length == 0">
    {{emptyList}}
</div>